<div class="container py-4">
  <div class="d-flex flex-column">
    <div class="alert alert-primary" role="alert">Some announcement</div>
    <div class="alert alert-success" role="alert">
      Some news — check it out!
    </div>
    <div class="alert alert-danger" role="alert">
      Some severe alert — check it out!
    </div>
  </div>
  <div class="d-flex flex-wrap gap-4 justify-content-between">
    <div class="card flex-fill">
      <h5 class="card-header">Travel</h5>
      <div class="card-body">
        <div class="mb-2">
          <a
            href="https://pro-trav.github.io/my-travel/#/new"
            class="btn btn-link"
          >
            Create a new Trip
          </a>
          <div class="ps-3 fs-6 text-secondary">
            <div>- Some description</div>
          </div>
        </div>
        <div class="mb-2">
          <a
            href="https://pro-trav.github.io/my-travel/#/trips"
            class="btn btn-link"
          >
            View My Trips
          </a>
          <div class="ps-3 fs-6 text-secondary">
            <div>- The show/hide of links are controlled in the backend</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card flex-fill">
      <h5 class="card-header">Procurement Card</h5>
      <div class="card-body">
        <div class="mb-2">
          <a href="#" class="btn btn-link">Request a new PCard</a>
          <div class="ps-3 fs-6 text-secondary">
            <div>- Some description</div>
            <div>- This can be a form-builder UW form</div>
          </div>
        </div>
        <div class="mb-2">
          <a href="https://pro-trav.github.io/my-pcard/" class="btn btn-link">
            View/Manage My PCard
          </a>
          <div class="ps-3 fs-6 text-secondary">
            <div>- The show/hide of links are controlled in the backend</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card flex-fill">
      <h5 class="card-header">USS</h5>
      <div class="card-body">
        <div class="mb-2">
          <a href="https://pro-trav.github.io/uss" class="btn btn-link">
            Reconciliation
          </a>
          <div class="ps-3 fs-6 text-secondary">
            <div>- The show/hide of links are controlled in the backend</div>
          </div>
        </div>
      </div>
    </div>

    <div class="card flex-fill">
      <h5 class="card-header">Admin</h5>
      <div class="card-body">
        <div class="mb-2">
          <a href="#" class="btn btn-link">A link</a>
          <div class="ps-3 fs-6 text-secondary">
            <div>- Some description</div>
          </div>
        </div>
        <div class="mb-2">
          <a href="#" class="btn btn-link">Another link</a>
          <div class="ps-3 fs-6 text-secondary">
            <div>- The show/hide of links are controlled in the backend</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
